/* ================================ /*
     Animation-/ & Hover-Effekte
/* ================================ */

// @Keyframe|Animationen
@keyframes fadein_animation {
  0.0% {
    transform: scale(1) translate(-25px, -25px) rotate(-3deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0px, 0px) rotate(0) skew(0);
    transform-origin: 0;
    opacity: 1;
  }
  54.9% {
    transform: scale(1) translate(0, 0) rotate(0);
    opacity: 1;
  }
}
@keyframes navscrollin_animation {
  0% {
    transform: rotate(0) scale(1) translateX(0) translateY(-60px);
    opacity: 0;
    height: 50px;
  }
  100% {
    transform: rotate(0) scale(1) translateX(0) translateY(0);
    opacity: 0.9;
    height: 60px;
    padding-bottom: 0px;
  }
}
