// ⚡ | Variables >>
@import "colors";
// 🪐 | Functions
$fontf: "Open Sans", sans-serif;
$fonthead: "Raleway", sans-serif;
// ---|
@import "layout";
@import "animations";

// ⚡ | >Start w/ CSS >>
html {
  // width: 100vw;
}

// App-Body > Work in Progress Label
.app__content-wp {
  font-size: 1.3vw;
  margin: 10px 0 40px 0;
  padding: 0 15px;
}

// =================
// @import "form";
@import "layout/_form";
@import "buttons";
@import "reslayout";
// _________________

// body {
//   overflow: hidden !important;
//   header {
//     display: none !important;
//   }
//   nav {
//     display: block !important;
//   }
// }
